* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-weight: Verdana, Geneva, Tahoma, sans-serif;
}

.person {
  background: #eee;
  width: 17rem;
  padding: 1rem;
  margin: 2rem auto;
  border-radius: 0.3rem;
  text-align: center;
  transition: all 0.3s linear;
}

.person:hover {
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
}

.person img {
  border-radius: 50%;
  border: 0.1rem solid teal;
}

h2 {
  margin: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: coral;
  text-transform: uppercase;
}

.title {
  text-align: center;
  justify-content: center;
  border-bottom: solid 0.1px;
  color: blueviolet;
}

.person h3 {
  text-transform: capitalize;
  margin: 0.5rem 0;
  letter-spacing: 0.15rem;
  color: teal;
}

.person-list p {
  color: tomato;
  font-weight: bold;
  font-size: medium;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media screen and (min-width: 768px) {
  .person-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }
}
@media screen and (min-width: 992px) {
  .person-list {
    grid-template-columns: repeat(3, 1fr);
  }
}